/*Inicio*/
html {
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: linear-gradient(red,blue);
    /*background-repeat: repeat;*/
    background-attachment: fixed;
}

/*ID & Class*/

#div-principal{
    visibility: visible;
    /*background-color: green;*/
    width: 500px;
    height: 680px;
    margin: auto;
    margin-top: 25px;
    padding-top: 10px;
}
#titulo {
    visibility: visible;
    background-color: white;
    width: 410px;
    height: 50px;
    margin: auto;
    margin-top: 5px;
    background-color: burlywood;
    border-radius: 10px;
    font-size: large;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#h3{
    visibility: visible;
    background-color: lightgray;
    width: 100px;
    height: 25px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    right: 50px;
    border-radius: 5px;
}
#acertijo1{
    visibility: visible;
    background-color: white;
    width: 350px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
    /*visibility: hidden;*/
    display: inline-block;
    text-align: justify;
    padding-left: 7px;
    padding-top: 3px;
    border-radius: 20px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
}
#butt1 {
    display: inline-block;
}
#h32 {
    visibility: visible;
    background-color: lightgray;
    width: 100px;
    height: 25px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    right: 50px;
    border-radius: 5px;
    visibility: hidden;
}
#acertijo2{
    visibility: visible;
    background-color: white;
    width: 360px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
    visibility: hidden;
    display: inline-block;
    text-align: justify;
    padding-left: 7px;
    padding-top: 3px;
    border-radius: 20px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
}
#butt2 {
    display: inline-block;
    visibility: hidden;
}
#h33{
    visibility: visible;
    background-color: lightgray;
    width: 100px;
    height: 25px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    right: 50px;
    border-radius: 5px;
    visibility: hidden;
}
#acertijo3{
    visibility: visible;
    background-color: white;
    width: 365px;
    height: 42px;
    margin: auto;
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
    visibility: hidden;
    display: inline-block;
    text-align: justify;
    padding-left: 15px;
    padding-top: 3px;
    padding-right: 7px;
    border-radius: 20px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
}
#butt3 {
    visibility: hidden;
}
#h34{
    visibility: visible;
    background-color: lightgray;
    width: 100px;
    height: 25px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    right: 50px;
    border-radius: 5px;
    visibility: hidden;
}
#acertijo4{
    visibility: visible;
    background-color: white;
    width: 380px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
    visibility: hidden;
    display: inline-block;
    text-align: justify;
    padding-left: 7px;
    padding-top: 3px;
    border-radius: 20px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
}
#butt4 {
    visibility: hidden;
}
#h35{
    visibility: visible;
    background-color: lightgray;
    width: 100px;
    height: 25px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    right: 50px;
    border-radius: 5px;
    visibility: hidden;
}
#acertijo5{
    visibility: visible;
    background-color: white;
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
    visibility: hidden;
    display: inline-block;
    text-align: justify;
    padding-left: 7px;
    padding-top: 3px;
    border-radius: 20px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
}
#butt5 {
    visibility: hidden;
}
#h36{
    visibility: visible;
    background-color: lightgray;
    width: 100px;
    height: 25px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    right: 50px;
    border-radius: 5px;
    visibility: hidden;
}
#acertijo6{
    visibility: visible;
    background-color: white;
    width: 300px;
    height: 55px;
    margin: auto;
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
    visibility: hidden;
    display: inline-block;
    text-align: justify;
    padding-left: 7px;
    padding-top: 3px;
    border-radius: 20px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    padding-top: 5px;
    padding-right: 11px;
}
#butt6 {
    visibility: hidden;
}


/*Infos*/
#info1{
    display: inline-block;
    margin-left: 25px;
    visibility: hidden;
}
#info2{
    display: inline-block;
    margin-left: 25px;
    visibility: hidden;
}
#info3{
    display: inline-block;
    margin-left: 25px;
    visibility: hidden;
}
#info4{
    display: inline-block;
    margin-left: 25px;
    visibility: hidden;
}
#info5{
    display: inline-block;
    margin-left: 25px;
    visibility: hidden;
}
#info6{
    display: inline-block;
    margin-left: 25px;
    visibility: hidden;
}
#pruebax {
    /*right: 25px;*/
    width: 180px;
    height: 100px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
#respuestaFinal{
    display: inline-block;
    margin-left: 0;
    width: 180px;
    right: 0;
    bottom: 0;
    font-size: x-large;
    border-radius: 5px;
    padding: 2px;
    visibility: hidden;
}

@media screen and (max-width: 640px) {
    #div-principal {
        width: 90%;
        height: auto;
    }
    #titulo {
        visibility: visible;
        background-color: white;
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 5px;
        background-color: burlywood;
        border-radius: 10px;
        font-size: large;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #h3{
        visibility: visible;
        background-color: lightgray;
        width: 30%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        right: 50px;
        border-radius: 5px;
    }
    #acertijo1{
        visibility: visible;
        background-color: white;
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        margin-left: 5px;
        text-align: center;
        /*visibility: hidden;*/
        display: inline-block;
        text-align: justify;
        padding-left: 7px;
        padding-top: 3px;
        border-radius: 20px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    #butt1 {
        display: inline-block;
    }
    #h32 {
        visibility: visible;
        background-color: lightgray;
        width: 30%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        right: 50px;
        border-radius: 5px;
        visibility: hidden;
    }
    #acertijo2{
        visibility: visible;
        background-color: white;
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        margin-left: 5px;
        text-align: center;
        visibility: hidden;
        display: inline-block;
        text-align: justify;
        padding-left: 7px;
        padding-top: 3px;
        border-radius: 20px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    #butt2 {
        display: inline-block;
        visibility: hidden;
    }
    #h33{
        visibility: visible;
        background-color: lightgray;
        width: 30%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        right: 50px;
        border-radius: 5px;
        visibility: hidden;
    }
    #acertijo3{
        visibility: visible;
        background-color: white;
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        margin-left: 5px;
        text-align: center;
        visibility: hidden;
        display: inline-block;
        text-align: justify;
        padding-left: 15px;
        padding-top: 3px;
        padding-right: 7px;
        border-radius: 20px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    #butt3 {
        visibility: hidden;
    }
    #h34{
        visibility: visible;
        background-color: lightgray;
        width: 30%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        right: 50px;
        border-radius: 5px;
        visibility: hidden;
    }
    #acertijo4{
        visibility: visible;
        background-color: white;
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        margin-left: 5px;
        text-align: center;
        visibility: hidden;
        display: inline-block;
        text-align: justify;
        padding-left: 7px;
        padding-top: 3px;
        border-radius: 20px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    #butt4 {
        visibility: hidden;
    }
    #h35{
        visibility: visible;
        background-color: lightgray;
        width: 30%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        right: 50px;
        border-radius: 5px;
        visibility: hidden;
    }
    #acertijo5{
        visibility: visible;
        background-color: white;
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        margin-left: 5px;
        text-align: center;
        visibility: hidden;
        display: inline-block;
        text-align: justify;
        padding-left: 7px;
        padding-top: 3px;
        border-radius: 20px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    #butt5 {
        visibility: hidden;
    }
    #h36{
        visibility: visible;
        background-color: lightgray;
        width: 30%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        right: 50px;
        border-radius: 5px;
        visibility: hidden;
    }
    #acertijo6{
        visibility: visible;
        background-color: white;
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        margin-left: 5px;
        text-align: center;
        visibility: hidden;
        display: inline-block;
        text-align: justify;
        padding-left: 7px;
        padding-top: 3px;
        border-radius: 20px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-top: 5px;
        padding-right: 11px;
    }
    #butt6 {
        visibility: hidden;
    }
    /*Infos*/
#info1{
    display: inline-block;
    margin-left: 25px;
    visibility: hidden;
    background-color: lightblue;
    padding: 2px;
    border-radius: 5px;
}
#info2{
    display: inline-block;
    margin-left: 25px;
    visibility: hidden;
    background-color: lightblue;
    padding: 2px;
    border-radius: 5px;
}
#info3{
    display: inline-block;
    margin-left: 25px;
    visibility: hidden;
    background-color: lightblue;
    padding: 2px;
    border-radius: 5px;
}
#info4{
    display: inline-block;
    margin-left: 25px;
    visibility: hidden;
    background-color: lightblue;
    padding: 2px;
    border-radius: 5px;
}
#info5{
    display: inline-block;
    margin-left: 25px;
    visibility: hidden;
    background-color: lightblue;
    padding: 2px;
    border-radius: 5px;
}
#info6{
    display: inline-block;
    margin-left: 25px;
    visibility: hidden;
    background-color: lightblue;
    padding: 2px;
    border-radius: 5px;
}
#pruebax {
    /*right: 25px;*/
    width: 180px;
    height: 100px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
#respuestaFinal{
    display: inline-block;
    margin-left: 0;
    width: 80%;
    right: 0;
    bottom: 0;
    font-size: x-large;
    border-radius: 15px;
    padding: 2px;
    visibility: hidden;
    background-color: #eee;
}
body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(red,lightblue);
    /*background-repeat: repeat;*/
    background-attachment: fixed;
}
}